<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <title>SRM Query Login page</title>
     <link rel="stylesheet" href="slogin.css">
     </head>
   <body>
   <form action='/auth/slogin' method="POST">
  <div class="login-box">
   <h1>Login</h1>
   <div class="textbox">
     <i class="fa fa-user-circle-o" aria-hidden="true"></i>
     <input type="text" placeholder="Username" name="uname" id="uname" value="">
   </div>
  <div class="textbox">
     <i class="fa fa-unlock" aria-hidden="true"></i>
     <input type="password" placeholder="Password"  name="pswd"  id="pswd"  value="">
   </div>
    <input class="button" type="submit" name="" value="Sign-in">
    </div>
           </form>
           </body>
           </html>