body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url('https://images.unsplash.com/photo-1523908511403-7fc7b25592f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');}

nav{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.625rem;
    width:70vw;
    background: rgba(255, 255, 255, 0.219);
}
.lol{
    text-decoration: none;
    position: relative;
    color: rgb(248, 244, 244);
    font-size: 1.5rem;
}
ul:hover li{
    opacity: .2;
    filter: blur(0.0625rem);
}
ul li:hover{
    opacity:1;
    filter: blur(0rem);

}





a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
a:hover
{
    color: #cecece;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 40px #0859ee34, 0 0 80px #eb965e;
    transition-delay: 1s;
}
a span
{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ff7300);
}
a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
} 
a span:nth-child(2)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fa0202);
}
a:hover span:nth-child(2)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(3)
{
    top: -100℅;
    right: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#7c21f3);
}
a:hover span:nth-child(3)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4)
{
    bottom: -100℅;
    left: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(360deg,transparent,#7c21f3);
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
